/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 3 39 40 41>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        backslash: backslash {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSLASH";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;
        };

        pipedance: pipedance {
            compatible = "zmk,behavior-tap-dance";
            label = "PIPEDANCE";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACE>, <&kp PIPE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Dvorak";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none           &kp SQT   &kp COMMA        &kp PERIOD           &kp P              &kp Y        &kp F      &kp G               &kp C                 &kp R            &kp L  &none
&none           &kp A     &hml LEFT_ALT O  &hml LEFT_CONTROL E  &hml LEFT_SHIFT U  &kp I        &kp D      &hmr RIGHT_SHIFT H  &hmr RIGHT_CONTROL T  &hmr LEFT_ALT N  &kp S  &none
&kp LEFT_SHIFT  &kp SEMI  &kp Q            &kp J                &kp K              &kp X        &kp B      &kp M               &kp W                 &kp V            &kp Z  &kp RIGHT_SHIFT
                                           &mo 3                &kp BACKSPACE      &lt 2 ESC    &lt 1 RET  &kp SPACE           &kp LEFT_ALT
            >;
        };

        lower_layer {
            label = "Number";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &kp N1        &kp N2  &kp N3        &kp N4         &kp N5       &kp N6       &kp N7     &kp N8        &kp N9     &kp N0  &trans
&trans     &kp TAB       &trans  &trans        &trans         &tog 2       &kp LEFT     &kp DOWN   &kp UP        &kp RIGHT  &trans  &trans
&kp LSHFT  &kp CAPSLOCK  &trans  &trans        &trans         &trans       &trans       &trans     &trans        &trans     &trans  &kp LA(LC(DELETE))
                                 &kp LEFT_ALT  &kp BACKSPACE  &lt 2 ESC    &lt 1 ENTER  &kp SPACE  &kp LEFT_ALT
            >;
        };

        raise_layer {
            label = "Symbol";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &kp EXCL   &kp AT     &kp HASH      &kp DLLR       &kp PRCNT    &kp CARET    &kp AMPS   &kp ASTRK     &kp LPAR    &kp RPAR      &trans
&trans     &kp GRAVE  &trans     &trans        &trans         &tog 1       &kp MINUS    &kp EQUAL  &kp LBKT      &kp RBKT    &kp QUESTION  &trans
&kp LSHFT  &kp TILDE  &kp LC(Z)  &kp LC(C)     &kp LC(V)      &kp LC(X)    &kp UNDER    &kp PLUS   &kp LBRC      &pipedance  &backslash    &trans
                                 &kp LEFT_ALT  &kp BACKSPACE  &lt 2 ESC    &lt 1 ENTER  &kp SPACE  &kp LEFT_ALT
            >;
        };

        screen_control {
            label = "Screen";
            bindings = <
&trans          &kp LA(N1)  &kp LA(N2)  &kp LA(N3)  &kp LA(N4)  &kp LA(N5)    &kp LA(NUMBER_6)  &kp LA(N7)    &kp LA(N8)    &kp LA(N9)  &kp LA(N0)  &trans
&trans          &trans      &trans      &trans      &trans      &trans        &trans            &trans        &trans        &trans      &trans      &trans
&kp LEFT_SHIFT  &trans      &trans      &trans      &kp LA(B)   &trans        &bt BT_CLR        &bt BT_SEL 0  &bt BT_SEL 1  &trans      &trans      &trans
                                        &trans      &trans      &trans        &trans            &trans        &tog 4
            >;
        };

        layer_4 {
            bindings = <
&kp ESCAPE  &kp I             &kp Q  &kp W   &kp E      &kp R        &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB     &kp LEFT_SHIFT    &kp A  &kp S   &kp D      &kp F        &trans  &trans  &trans  &trans  &trans  &trans
&kp M       &kp LEFT_CONTROL  &kp Z  &kp X   &kp C      &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                                     &trans  &kp SPACE  &kp ENTER    &mo 4   &trans  &trans
            >;

            label = "Gaming";
        };
    };

    //  soft_off_wakers {
    //      compatible = "zmk,soft-off-wakeup-sources";
    //      wakeup-sources = <&kscan0>;
    //  };
};
